@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", monospace;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-style: normal;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
